<!DOCTYPE html>
<html>
    <head>
        <!-- Head Information -->
        <title>doctor_home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styling.css">
    </head>

    <body>
        <!-- Build the Top Banner -->
        <div class="headbanner">
            <img src="../static/images/logo1.png" alt="NWI Logo" id="logo1">
            <img src="../static/images/logo2.png" alt="PC Logo" id="logo2">
            <div id="userinfo">
                <div>ID: {{user_doc}}</div>
            </div>
            <button class="logoutbutton" onclick="window.location.href = '/';">Sign Out</button>
        </div>

        <!-- Create Text -->
        <div class="content">

            <!-- Nofications -->
            <div class="infoportal" id="healthtracker">
                <p class="portal">Notifications</p>
                <div class="infobox">
                    {% for message in messages %}
                    <div class="message">
                        <p class="date">{{message.date}}</p>
                        <p>{{message.message}} - Patient {{message.from}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- List of Patients -->
            <div class="infoportal" id="healthinfo">
                <p class="portal">Patients</p>
                <div class="infobox">
                    <form id="healthtrackerform" action="/observe_patient" class="portal" method="POST" accept-charset="utf-8">
                        <input type="hidden" name="user_doc" value="{{ user_doc }}">
                        <select name="patient_id" class="formitem">
                            <option value="0" selected>0</option> <!-- TEMPORARY DEBUG VALUE -->
                            {% for patient in patients %}
                            <option value="{{ patient.id }}">{{ patient.name }}</option>
                            {% endfor %}
                        </select><br>
                        <input type="submit" class="formitem" value="View Patient">
                    </form>
                </div>
            </div>
        </div>

        <!-- Build the Bottom Banner -->
         <div class="tailbanner">
            <p>For Help Please Call: +1 (123) 456-7890&nbsp&nbsp</p><br>
        </div>

    </body>
</html>