<!DOCTYPE html>
<html>
    <head>
        <!-- Head Information -->
        <title>patient_portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styling.css">
    </head>

    <body>
        <!-- Build the Top Banner -->
        <div class="headbanner">
            <img src="../static/images/logo1.png" alt="NWI Logo" id="logo1">
            <img src="../static/images/logo2.png" alt="PC Logo" id="logo2">
            <div id="userinfo">
                {% for info in user_info %}
                <div>{{info}}</div>
                {% endfor %}
            </div>
            <button class="backbutton" onclick="window.location.href = '/doctor_home?user={{user}}';">Back</button>
        </div>

        <!-- Create Body -->
        <div class="content">

            <!-- Create Warning Box -->
            <div class="alert" id="warningbox" style="display: none">
                <span class="closewarning" onclick="this.parentElement.style.display='none';">&times;</span>
                <p id="warningmessage"></p>
            </div>

            <!-- Create Health Tracker -->
            <div class="infoportal" id="healthtracker">
                <p class="portal">Health Tracker</p>
                <div class="infobox">
                    <p>Add observed health information and press submit. This information will be sent to your doctor.</p>
                    <form id="healthtrackerform" class="portal" method="POST" accept-charset=utf-8>
                        <input type="hidden" name="date" id="date" value="">
                            <script>
                                const date = new Date().toJSON();
                                document.getElementById("date").value = date;
                            </script>
                        <div id="variable-container">
                            <div class="variableinput">
                                <select name="input1_type" class="formitem">
                                    <option value="other_notes" class="portal" selected>Other or Comment</option>
                                    <option value="length" class="portal">Length</option>
                                    <option value="weight" class="portal">Weight</option>
                                    <option value="head_circumference" class="portal">Head Circumference</option>
                                </select>
                                <input type="text" name="input1" id="input1" class="formitem"><br>
                            </div>
                        </div>
                        <button type="button" class="formitem" onclick="addInputElement()">Add Another Input</button>
                        <button type="button" class="formitem" onclick="removeLastElement()">Remove Input</button><br>
                        <input type="submit" name="submit" id="submit" class="formitem" value="Enter Data">
                    </form>
                    <p id="outputmessage"></p>

                    <!-- Solution from https://stackoverflow.com/questions/71500725/adding-elements-to-form-dynamically-with-javascript/71500936#71500936 -->
                    <!-- Solution edited by perplexity.ai in ai_conversations/dynamic_form -->
                    <script>
                        let num_elems = 1;
                        const container = document.getElementById("variable-container");

                        // Function to Add Next Form Elements
                        function addInputElement() {
                            num_elems++;
                            const wrapper = document.createElement("div");
                            wrapper.className = "variableinput";

                            // Create Next Select Element
                            const select = document.createElement("select");
                            select.name = `input${num_elems}_type`; select.className = "formitem";
                            const options = [
                                { value: "other_notes", label: "Other or Comment" },
                                { value: "length", label: "Length" },
                                { value: "weight", label: "Weight" },
                                { value: "head_circumference", label: "Head Circumference" }
                            ];
                            options.forEach(opt => {
                                const o = document.createElement("option");
                                o.value = opt.value;
                                o.textContent = opt.label;
                                select.appendChild(o);
                            });

                            // Create Next Input Element
                            const input = document.createElement("input");
                            input.type = "text"; input.name = `input${num_elems}`;
                            input.className = "formitem"; //input.value = `${num_elems}`;
                            wrapper.appendChild(select);
                            wrapper.appendChild(input);
                            wrapper.appendChild(document.createElement("br"));

                            // Add New Elements
                            container.appendChild(wrapper);
                        }

                        // Function to Remove Last Element
                        function removeLastElement() {
                            if (num_elems > 1) {
                                const variableInputs = document.querySelectorAll("#variable-container .variableinput");
                                const lastWrapper = variableInputs[variableInputs.length - 1];
                                lastWrapper.remove();
                                num_elems--;
                            }
                        }
                    </script>
                </div>
            </div>

            <!-- Create Health Info -->
            <div class="infoportal" id="healthinfo">
                <p class="portal">Health Info</p>
                <div class="infobox">
                    {% for info in user_info %}
                    <p>{{info}}</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Create Ask Doctor -->
            <div class="infoportal" id="askdoctor">
                <p class="portal">Ask Doctor</p>
                <div class="infobox">
                    <form id="askdoctorform" class="portal" method="POST" accept-charset=utf-8>
                        <input type="hidden" name="date_comm" id="date_comm" value="">
                            <script> 
                                document.addEventListener("DOMContentLoaded", function() {
                                    const date2 = new Date().toJSON();
                                    document.getElementById("date_comm").value = date2;
                                });
                            </script>
                        <input type="text" name="comm_text" class="formitem" id="commtext" value="">
                        <input type="submit" name="submit_comm" class="formitem" value="Send Message">
                    </form>
                    <p>Past Messages:</p><br>
                    {% for message in messages %}
                    <div class="message">
                        {{message.message}}
                        <p class="date">{{message.date}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Create Graphical Data -->
            <div class="infoportal" id="graphicaldata">
                <p class="portal">Graphical Data</p>
                <div class="infobox">
                    <form id="graphdataform" class="portal" method="POST" accept-charset=utf-8>
                        <select name="graphtype" id="graphtype" class="formitem">
                            <option value="weight_kg" class="portal" selected>Weight</option>
                            <option value="length_cm" class="portal">Length</option>
                            <option value="head_circumference_cm" class="portal">Head Circumference</option>
                            <option value="temperature_c" class="portal" selected>Temperature</option>
                            <option value="heart_rate_bpm" class="portal">Heart Rate BPM</option>
                            <option value="respiratory_rate_bpm" class="portal">Respiratory Rate</option>
                            <option value="oxygen_saturation" class="portal">Oxygen Saturation</option>
                            <option value="feeding_frequency_per_day" class="portal">Feeding Frequency</option>
                            <option value="urination_count_per_day" class="portal">Urination Frequency</option>
                            <option value="stool_frequency_per_day" class="portal">Stool Frequency</option>
                        </select>
                        <input type="submit" name="submit_graph" class="formitem" value="Open Graph">
                    </form>
                    <div>
                        <canvas id="graphdatachart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Build the Bottom Banner -->
         <div class="tailbanner">
            <p>For Help Please Call: +1 (123) 456-7890 &nbsp&nbsp</p>
        </div>

        <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chart.umd.min.js') }}"></script>

        <!-- FORM SUBMISSION CODE -->
        <!-- Form Submission Solution from https://www.geeksforgeeks.org/python/flask-form-submission-without-page-reload/ -->
        <!-- Graphing Solution from https://www.geeksforgeeks.org/python/how-to-add-graphs-to-flask-apps/ -->
        <!-- Debugging Help from Perpelexity in ai_conversations/submit_no_reload -->
        <script>
            // Graphing Section
            let graphChart = null;
            $(document).ready(function() {
                // Run once on startup [REMOVED BECAUSE OF INFINITE LOOP]
                // if (!graphAutoLoad) { $("#graphdataform").trigger("submit"); graphAutoLoad = True; }
                
                $(document).on("submit", "#graphdataform", function(e) {
                    e.preventDefault();

                    // Remove existing chart if it exists
                    if (graphChart) {
                        graphChart.destroy();
                        graphChart = null;
                    }

                    // Send graph update form
                    $.post("/graph_data",
                        {user: "{{ user }}", graphtype: $("#graphtype").val()},
                        function(data) {
                            const canvas = document.getElementById("graphdatachart");
                            const ctx = canvas.getContext("2d");

                            // Update graph
                            graphChart = new Chart(ctx, {
                                type: "line",
                                data: {
                                    labels: data.x,
                                    datasets: [{
                                        label: $("#graphtype").val(),
                                        data: data.y, fill: false, tension: 0.1,
                                        borderColor: 'rgba(75, 192, 192, 1)',
                                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    }]
                                },
                                options: { maintainAspectRatio: false, scales: { y: { beginAtZero: true } }}
                            });
                        }
                    );
                });
            }); 
        </script>
        <script>
            // Conversation Entry
            $(document).ready(function() {
                $(document).on("submit", "#askdoctorform", function(e) {
                    e.preventDefault();
                    
                    // Send form info
                    $.post("/convo", {user: "{{ user }}", date: $("#date_comm").val()},

                        // Recieve Results
                        function(data) {
                            document.getElementById("commtext").value = "";
                            //$("#[result-area]").html(data.date);
                        }
                    );
                });
            });
        </script>
        <script>
            // Health Tracker Form
            $(document).ready(function() {
                $(document).on("submit", "#healthtrackerform", function(e) {
                    e.preventDefault();

                    // Send form info
                    $.post("/submit_health", {user: "{{ user }}", date: $("#date_comm").val()},

                        // Recieve Results
                        function(data) { 
                            document.getElementById("outputmessage").innerHTML = data.message;
                            warnings = data.warnings;
                            if (warnings.length > 0) {
                                document.getElementById("warningbox").style.display = "block";
                                document.getElementById("warningmessage").innerHTML = warnings;
                            }

                            // Reset Form
                            document.getElementById("input1").value = "";
                            var variableInputs = document.querySelectorAll("#variable-container .variableinput");
                            while (variableInputs.length > 2) {
                                variableInputs = document.querySelectorAll("#variable-container .variableinput");
                                lastWrapper = variableInputs[variableInputs.length - 1];
                                lastWrapper.remove();
                            }
                            num_elems = 1;
                        }
                    );
                });
            });
        </script>
    </body>
</html>