head{
    margin: 0;
}

body{
    font-family: Georgia, serif;
    padding: 0;
    margin: 0;
    background-color: #e4eff9;
    color: black;
}

.portal{
    text-align: center;
    font-family: Georgia, serif;
    margin-bottom: 2%;
}

.square{
    height: 50px;
    width: 50px;
    background-color: navy;
}

.headbanner{
    width: 100%;
    height: 11vh;
    background-color: #4d91cc;
    background-position: center;
}

.contentbanner{
    width: 20%;
    height: 32vh;
    background-color: #c1dcf3;
    background-position: center;
    position: absolute;
    border-radius: 15px;
    border-color: #4d91cc;
    border-width: 2px;
    border-style: solid;
    top: 20%;
    left: 40%;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.tailbanner{
    width: 100%;
    height: 6vh;
    bottom: 0;
    background-color: #4d91cc;
    background-position: center;
    position: absolute;
    color: #e4eff9;
    font-weight: normal;
    font-size: 18px;
    text-align: right;
}

.formitem{
    background-color: #eef3f8;
    margin: 0.3%;
    font-family: Georgia, serif;
    text-align: left;
    color: black;
    border-radius: 15px;
    text-indent: 5px;
    height: 3vh;
}

.error{
    color: red;
    /* border-radius: 2px;
    border-width: 1px;
    border-color: red;
    border-style: solid; */
    position: absolute;
    width: 10%;
    height: 2vh;
    top: 52%;
    left: 45%;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}

#logo1{
    position: absolute;
    left: 10px;
    top: 6px;
    width: 237px;
    height: 70px;
}

#logo2{
    position: absolute;
    right: 10px;
    top: 6px;
    width: 152px;
    height: 70px;
}

#submit{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    text-indent: 0px;
    margin-top: 1.5%;
}

#loginmode{
    text-indent: 0px;
    margin-bottom: 1.5%;
}