/*
Main CSS File for all HTML

Some debugging done with Perplexity
in ai_conversations/styling_relative

By Eliot Raynor 12/02/25
*/

/* Main HTML */
html, body{
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/* Main Body */
body{
    font-family: Georgia, serif;
    padding: 0;
    margin: 0;
    background-color: #e4eff9;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    /* Hide Scrollbar Solution From https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Debugging Code */
/* *{
    outline-width: 1px;
    outline-style: solid;
    outline-color: red;
} */

/* Overall Form Formatting (for text on login) */
.portal{
    text-align: center;
    margin-bottom: 2vh;
}

/* Top Banner */
.headbanner{
    width: 100%;
    height: 11vh;
    background-color: #4d91cc;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/* All Non-Banner Body Content */
.content{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 11vh;
    gap: 2vh;
}

/* Banner Behind Main Body Content */
.contentbanner{
    width: 20vw;
    height: 32vh;
    background-color: #c1dcf3;
    background-position: center;
    position: absolute;
    border-radius: 15px;
    border-color: #4d91cc;
    border-width: 2px;
    border-style: solid;
    top: 20%;
    left: 40%;
    color: black;
    font-weight: bold;
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
}

/* Bottom Banner */
.tailbanner{
    width: 100%;
    height: 6vh;
    background-color: #4d91cc;
    color: #e4eff9;
    font-weight: normal;
    font-size: clamp(0.8rem, 1vw, 1.1rem);
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    z-index: 10;
}

/* Login Form Items */
.formitem{
    background-color: #eef3f8;
    margin: 0.2vh 0.3vw;
    text-align: left;
    color: black;
    border-radius: 15px;
    text-indent: 0.5vw;
    height: 3vh;
}

/* Error Messages */
.error{
    color: red;
    /* border-radius: 2px;
    border-width: 1px;
    border-color: red;
    border-style: solid; */
    position: absolute;
    width: 10%;
    height: 2vh;
    top: 52%;
    left: 45%;
    text-align: center;
    font-style: italic;
    font-size: clamp(0.75rem, 0.8vw, 0.9rem);;
}

/* Info Portals */
.infoportal{
    width: 46.4vw;
    height: 70vh;
    background-color: #c1dcf3;
    background-position: center;
    position: static;
    border-radius: 15px;
    border-color: #4d91cc;
    border-width: 2px;
    border-style: solid;
    color: black;
    font-weight: bold;
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
    margin: 2vw;
}

/* White Info Boxes in Info Portals */
.infobox{
    background-color: #eef3f8;
    border-radius: 5px;
    position: relative;
    width: 44vw;
    height: 59vh;
    top: 0vh;
    left: 1.2vw;
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
    font-weight: normal;
    margin: 0;
}

/* Alert Box */
/* Design from https://www.w3schools.com/howto/howto_js_alert.asp */
.alert {
    width: 100vw;
    height: 5vh;
    padding: 20px;
    background-color: #ef695f;
    color: white;
    margin-bottom: 0;
    text-align: right;
    z-index: 10;
    cursor: pointer;
    font-weight: bold;
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
}
.closebtn {
    margin-right: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    transition: 0.3s;
}

/* Back Button */
.backbutton{
    background-color: #eef3f8;
    margin: 0.2vh 0.3vw;
    text-align: left;
    color: black;
    border-radius: 15px;
    text-indent: 0.5vw;
    height: 3vh;
    right: 10vw;
    z-index: 5;
    position: absolute;
}

/* NWI Logo (left top) */
#logo1{
    position: absolute;
    left: 0.52vw;
    top: 0.7vh;
    width: 12.34vw;
    height: 9.5vh;
    object-fit: contain;
}

/* PediCare Logo (top right) */
#logo2{
    position: absolute;
    right: 0.52vw;
    top: 0.8vh;
    width: 9vw;
    height: 9vh;
}

/* Form Submit Button */
#submit{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    text-indent: 0;
    margin-top: 1.2vh;
}

/* Login Mode Dropdown Menu */
#loginmode{
    text-indent: 0;
    margin-bottom: 1.2vh;
}

/* Tail Banner Text */
#tailtext{
    float: right;
    right: 0;
}

/* User Info Displayed in Head Banner */
#userinfo{
    color: #eef3f8;
    position: absolute;
    top: 1vh;
    left: 14vw;
    width: 50vw;
    height: 9vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Health Tracker Portal */
#healthtracker{
    top: 15%;
    left: 5%;
    margin-right: 0.8vw;
    margin-bottom: 1vh;
}

/* Health Info Portal */
#healthinfo{
    top: 15%;
    right: 5%;
    margin-left: 0.8vw;
    margin-bottom: 1vh;
}

/* Ask Doctor Portal */
#askdoctor{
    top: 60%;
    left: 5%;
    margin-right: 0.8vw;
    margin-top: 2vh;
}

/* Graphical Data Portal */
#graphicaldata{
    top: 60%;
    right: 5%;
    margin-left: 0.8vw;
    margin-top: 2vh;
}